<!DOCTYPE html>>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
</head>
<body>
    <h1>simple website</h1>
    <form method="post">
        <input type="number" name="number1" step="any" placeholder="first number" required>
        <input type="number" name="number2" step="any" placeholder="second number" required>
        <select name="operation">
            <option value="add">Add</option>
            <option value="sub">Subtract</option>
            <option value="mul">Multiply</option>
            <option value="div">Divide</option>
            
        </select>
        <button type="submit">Calculate</button>
    </form>
    {% if result is not none %}
    <h2>Result : {{ result }}</h2>
    {% endif %}
</body>
</html>